# Project exclude paths
/.idea/
/out/
/saves/
/lib/
*.iml
/data/JetBrainsMono-2.242

src/test/Camera.java
/.fleet/

# save and screenshot folder, let's not clog the repo with huge png
/data/gui/
/library/
/deploy/
/deploy_resources/